//color palette
$prime: #78c2ad;
$prime-dark: #5f9989;
$second: #374855;
$grey: #e8e8e8;
$red: #f3969a;
$white: #f5f3f3;

//padding & margin, sizing
$cube: 1rem;

//Fonts

$font1: "Rubik", sans-serif;
$font2: "Play", sans-serif;
